In [1]:
import pandas as pd
import numpy as np

In [3]:
loaded_data = np.load('story_dataset_10.npz', allow_pickle = True)
np_array = loaded_data['array']

df = pd.DataFrame(np_array, columns = ["prompt", "story", "hidden_states", "output_token_prompt_id"])
df

,prompt,story,hidden_states,output_token_prompt_id
0,Once upon a time there was a dragon,Once upon a time there was a dragon named Blaz...,[[[[[ 0.0195776 -0.01203049 -0.00329265 ... -...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,Once upon a time there was a princess,Once upon a time there was a princess named Li...,[[[[[ 0.00907895 -0.00382373 0.01176977 ... ...,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
2,Once upon a time there were two children,"Once upon a time there were two children, Timm...",[[[[[-0.00745996 0.00875824 0.01923985 ... -...,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
3,Once upon a time there was a prince,Once upon a time there was a prince. He loved ...,[[[[[ 0.00607951 0.0001194 0.02001009 ... ...,"[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ..."
4,Once upon a time there was a frog,Once upon a time there was a frog named Freddy...,[[[[[ 0.03122119 -0.02896403 0.01921979 ... ...,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ..."
5,Once upon a time there was a king,Once upon a time there was a king. He had a be...,[[[[[ 0.02018633 0.01695217 -0.03850058 ... ...,"[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, ..."
6,Once upon a time there was a queen,Once upon a time there was a queen. She had a ...,[[[[[ 2.3329405e-03 1.3176170e-02 -4.1504437e...,"[7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ..."
7,Once upon a time there was a wolf,Once upon a time there was a wolf. His name wa...,[[[[[-0.01738906 -0.00566883 0.05661942 ... ...,"[8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, ..."
8,Once upon a time there was a genie,Once upon a time there was a genie named Max. ...,[[[[[ 0.01858641 0.0276458 -0.00036269 ... -...,"[9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, ..."
9,Once upon a time there was a poor boy,Once upon a time there was a poor boy. His nam...,[[[[[ 0.00343257 0.00517342 -0.00547469 ... -...,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1..."

In [4]:
df.iloc[0]['story']

'Once upon a time there was a dragon named Blaze. Blaze was a friendly dragon. He lived in a big castle on a sunny hill. Blaze loved to play outside. He was very good at climbing trees.\n\nOne day, Blaze saw a tall pole in the garden. It was the tallest pole anyone had ever seen! Blaze thought it would be fun to climb up it. He wanted to reach the highest point of the pole. As he was trying, he said to himself, "I will get to the pole quickly!" But his friend, a bird named Sam, said, "Wait, Blaze. Be careful! That pole is very high and very steep."\n\nBlaze did not listen to Sam. He kept climbing up the pole. He climbed and climbed until he was almost at the top. When he got there, he was very happy and said, "I did it!" But then, Blaze lost his footing and fell from the pole. He was very hurt.\n\nBert was very sad. He said, "Why didn\'t you listen to my warning, Blaze?" Blaze said, "Because I wanted to be the bravest dragon and climb that tall pole." The people who lived nearby saw Blaze crying and they said, "Oh no! A big dragon is hurt!" They took Blaze to the hospital and made him feel better.'

In [ ]:
df.iloc[0]['hidden_states']