In [1]:
!pip install xgboost
!apt-get -y update
!apt-get -y install libatlas-base-dev

Requirement already satisfied: xgboost in /opt/conda/lib/python3.7/site-packages (1.6.2)
Requirement already satisfied: numpy in /opt/conda/lib/python3.7/site-packages (from xgboost) (1.21.2)
Requirement already satisfied: scipy in /opt/conda/lib/python3.7/site-packages (from xgboost) (1.6.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Hit:1 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:2 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:3 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
libatlas-base-dev is already the newest version (3.10.3-5).
0 upgraded, 0 newly installed, 0 to remove and 83 not upgraded.

In [2]:
# !conda install -y -c conda-forge py-xgboost

In [3]:
# !conda install -y -c conda-forge py-xgboost=*=cuda*

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from tqdm import tqdm

from xgboost import XGBClassifier

import csv

In [5]:
df = pd.read_csv("../../llamatales/story_dataset.csv")
df

,prompt_id,prompt,story,hidden_state_file,len_generated_story,len_new_story
0,1,Once upon a time there was a dragon,Once upon a time there was a dragon named Blaz...,./hidden_states/prompt_1.npz,270,271
1,1,Once upon a time there was a dragon,Once upon a time there was a dragon named Spar...,./hidden_states/prompt_1.npz,349,350
2,1,Once upon a time there was a dragon,Once upon a time there was a dragon named Scor...,./hidden_states/prompt_1.npz,278,278
3,1,Once upon a time there was a dragon,Once upon a time there was a dragon. The drago...,./hidden_states/prompt_1.npz,117,118
4,1,Once upon a time there was a dragon,Once upon a time there was a dragon. The drago...,./hidden_states/prompt_1.npz,129,130
...,...,...,...,...,...,...
9995,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,289,290
9996,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,119,119
9997,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,127,128
9998,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,441,441
9999,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,520,521

In [6]:
hidden_states_by_layer = {}
NUM_PROMPTS = 10
# NUM_PROMPTS = 2

for prompt_id in range(1, NUM_PROMPTS + 1):
    with np.load(f'../../llamatales/hidden_states/prompt_{prompt_id}.npz') as loaded_data:
        for i in tqdm(range(1000)):
            curr_hidden_states = loaded_data[f"arr_{i}"][0]
            # print(curr_hidden_states.shape)
            
            #By layer
            for layer in range(6, 7):
                curr_layer_hidden_states = curr_hidden_states[layer][0].astype('float32') #FAISS expects data in type float32 instead of float64 - saves memory too!
                # print(curr_layer_hidden_states.shape)
                
                if(f"layer_{layer}" in hidden_states_by_layer):
                    hidden_states_by_layer[f"layer_{layer}"].append(curr_layer_hidden_states)
                else:
                    hidden_states_by_layer[f"layer_{layer}"] = [curr_layer_hidden_states]

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:22<00:00, 44.93it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:20<00:00, 48.17it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:18<00:00, 54.88it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:21<00:00, 46.46it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:21<00:00, 46.83it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:20<00:00, 48.83it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:20<00:00, 48.00it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:19<00:00, 50.33it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:21<00:00, 47.15it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:22<00:00, 43.90it/s]

In [7]:
layer_hs_array = hidden_states_by_layer["layer_6"]
print(layer_hs_array[0].shape)
print(layer_hs_array[1].shape)

(270, 512)
(349, 512)

In [8]:
min_story_len = min(df["len_generated_story"])
min_story_len

21

In [9]:
max_story_len = max(df[:NUM_PROMPTS*1000]["len_generated_story"])

In [10]:
max_new_story_len = max(df["len_new_story"])

In [11]:
max_new_story_len = max(df[:NUM_PROMPTS*1000]["len_new_story"])

In [12]:
max_new_story_len

523

In [13]:
df[df["len_generated_story"] >= max_story_len].shape

(13, 6)

In [14]:
df[df["len_new_story"] >= max_new_story_len]

,prompt_id,prompt,story,hidden_state_file,len_generated_story,len_new_story
2360,3,Once upon a time there were two children,"Once upon a time there were two children, Emma...",./hidden_states/prompt_3.npz,522,523
2628,3,Once upon a time there were two children,Once upon a time there were two children named...,./hidden_states/prompt_3.npz,522,523
7795,8,Once upon a time there was a wolf,Once upon a time there was a wolf named Max. M...,./hidden_states/prompt_8.npz,522,523
9178,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,522,523
9201,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,522,523
9270,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,522,523
9313,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,522,523
9603,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,522,523
9626,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,522,523
9685,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,522,523
9787,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,522,523
9839,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,522,523
9991,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,522,523

In [15]:
max(df[:NUM_PROMPTS*1000]["len_new_story"])

523

In [16]:
hs_shapes = []
for i in range(len(layer_hs_array)):
    hs_shapes.append(layer_hs_array[i].shape[0])

In [17]:
np.array(hs_shapes)[9685]

522

In [18]:
import numpy as np

def safe_split(total, train_ratio=0.8):
    train = int(train_ratio * total)   # floor
    test  = total - train              # leftover
    return train, test

def build_dataset(curr_context_level_hs, curr_labels, train_ratio=0.8):
    """
    Groups samples by prompt_id, splits safely into train/test,
    and returns X_train, y_train, X_test, y_test.
    """

    unique_ids = sorted(set(curr_labels))

    X_train_list = []
    X_test_list = []
    y_train_list = []
    y_test_list = []

    for pid in unique_ids:

        # get samples for this prompt id
        mask = (curr_labels == pid)
        X_pid = curr_context_level_hs[mask]
        y_pid = curr_labels[mask]

        total = len(X_pid)
        train_n, test_n = safe_split(total, train_ratio)

        # split
        X_train_list.append(X_pid[:train_n])
        y_train_list.append(y_pid[:train_n])

        X_test_list.append(X_pid[train_n:])
        y_test_list.append(y_pid[train_n:])

    # concatenate all prompt-id blocks
    X_train = np.concatenate(X_train_list, axis=0)
    y_train = np.concatenate(y_train_list, axis=0)
    X_test  = np.concatenate(X_test_list, axis=0)
    y_test  = np.concatenate(y_test_list, axis=0)

    return X_train, y_train, X_test, y_test

In [ ]:
#Context-level analysis
# min_story_len = min(df["len_new_story"])
max_story_len = max(df[:NUM_PROMPTS*1000]["len_new_story"]) #save hidden states when generating new story - length of hidden states is of the old story (522)

with open("results.csv", "w+", newline='') as csvfile:
    csv_writer = csv.writer(csvfile, delimiter=',')
    csv_writer.writerow(['Accuracy'])

for context_level in range(11, max_story_len):
    curr_context_level_hs = []
    curr_labels = []
    
    curr_hs_shapes = []
    for i in range(len(layer_hs_array)):
        # print(np.array(layer_hs_array[i][:context_level]).shape) #see if taking context level more than available causes error?
        if(layer_hs_array[i].shape[0] < context_level):
            # print(i) #see which samples have less tokens than current context level
            continue
        else:
            layer_hs_upto_context = layer_hs_array[i][10:context_level]
            curr_hs_shapes.append(layer_hs_array[i].shape[0])
            curr_context_level_hs.append(np.array(layer_hs_upto_context).flatten())
            curr_labels.append(df.iloc[i].prompt_id)
    
    curr_context_level_hs = np.array(curr_context_level_hs).astype('float32')
    # print([i for i in range(len(curr_context_level_hs)) if curr_context_level_hs[i].shape[0] < i]) #see if any residuals escape screening
    # print(curr_context_level_hs.shape) #print shape without samples less than context level
    curr_labels = np.array(curr_labels) - 1
    
    if np.var(curr_context_level_hs) < 1e-6:
        print("Skipped context level: ", context_level)
        continue
    
    unique_ids = sorted(set(curr_labels))
    
    X_train, y_train, X_test, y_test = build_dataset(curr_context_level_hs, curr_labels)
    
    classifier = XGBClassifier(seed = 42, objective = 'multi:softmax', eval_metric = "merror", num_class = len(unique_ids), tree_method='gpu_hist', predictor='gpu_predictor')
    classifier.fit(X_train, y_train)
    preds = classifier.predict(X_test)
    
    print("Train Data Shape: ", X_train.shape)
#     print("Train Labels Shape: ", y_train.shape)
    print("Test Data Shape: ", X_test.shape)
#     print("Test Labels Shape: ", y_test.shape)
    
#     print("Predictions Shape: ", preds.shape)
    
#     print("Unique Preds: ", pd.Series(preds).value_counts())
#     print("Unique Test Labels: ", pd.Series(y_test).value_counts())
    accuracy = np.mean(preds == y_test)
    print(f"Accuracy: {accuracy}")
    with open("results.csv", "a+", newline='') as csvfile:
        csv_writer = csv.writer(csvfile, delimiter=',')
        csv_writer.writerow([accuracy])

Train Data Shape:  (8000, 512)
Test Data Shape:  (2000, 512)
Accuracy: 0.994
Train Data Shape:  (8000, 1024)
Test Data Shape:  (2000, 1024)
Accuracy: 0.9945
Train Data Shape:  (8000, 1536)
Test Data Shape:  (2000, 1536)
Accuracy: 0.9945
Train Data Shape:  (8000, 2048)
Test Data Shape:  (2000, 2048)
Accuracy: 0.9945
Train Data Shape:  (8000, 2560)
Test Data Shape:  (2000, 2560)
Accuracy: 0.9925
Train Data Shape:  (8000, 3072)
Test Data Shape:  (2000, 3072)
Accuracy: 0.9945
Train Data Shape:  (8000, 3584)
Test Data Shape:  (2000, 3584)
Accuracy: 0.993
Train Data Shape:  (8000, 4096)
Test Data Shape:  (2000, 4096)
Accuracy: 0.9945
Train Data Shape:  (8000, 4608)
Test Data Shape:  (2000, 4608)
Accuracy: 0.9945
Train Data Shape:  (8000, 5120)
Test Data Shape:  (2000, 5120)
Accuracy: 0.994
Train Data Shape:  (8000, 5632)
Test Data Shape:  (2000, 5632)
Accuracy: 0.9935
Train Data Shape:  (7999, 6144)
Test Data Shape:  (2000, 6144)
Accuracy: 0.9945
Train Data Shape:  (7999, 6656)
Test Data Shape:  (2000, 6656)
Accuracy: 0.993
Train Data Shape:  (7999, 7168)
Test Data Shape:  (2000, 7168)
Accuracy: 0.993
Train Data Shape:  (7999, 7680)
Test Data Shape:  (2000, 7680)
Accuracy: 0.994
Train Data Shape:  (7999, 8192)
Test Data Shape:  (2000, 8192)
Accuracy: 0.9935
Train Data Shape:  (7999, 8704)
Test Data Shape:  (2000, 8704)
Accuracy: 0.993
Train Data Shape:  (7998, 9216)
Test Data Shape:  (2000, 9216)
Accuracy: 0.9935
Train Data Shape:  (7998, 9728)
Test Data Shape:  (2000, 9728)
Accuracy: 0.993
Train Data Shape:  (7998, 10240)
Test Data Shape:  (2000, 10240)
Accuracy: 0.9935
Train Data Shape:  (7998, 10752)
Test Data Shape:  (2000, 10752)
Accuracy: 0.9935
Train Data Shape:  (7998, 11264)
Test Data Shape:  (2000, 11264)
Accuracy: 0.993
Train Data Shape:  (7998, 11776)
Test Data Shape:  (2000, 11776)
Accuracy: 0.994
Train Data Shape:  (7997, 12288)
Test Data Shape:  (2000, 12288)
Accuracy: 0.995
Train Data Shape:  (7995, 12800)
Test Data Shape:  (2000, 12800)
Accuracy: 0.9945
Train Data Shape:  (7993, 13312)
Test Data Shape:  (2000, 13312)
Accuracy: 0.9945
Train Data Shape:  (7991, 13824)
Test Data Shape:  (2000, 13824)
Accuracy: 0.9955
Train Data Shape:  (7991, 14336)
Test Data Shape:  (2000, 14336)
Accuracy: 0.995
Train Data Shape:  (7991, 14848)
Test Data Shape:  (2000, 14848)
Accuracy: 0.9955
Train Data Shape:  (7991, 15360)
Test Data Shape:  (2000, 15360)
Accuracy: 0.9955
Train Data Shape:  (7991, 15872)
Test Data Shape:  (2000, 15872)
Accuracy: 0.9945
Train Data Shape:  (7990, 16384)
Test Data Shape:  (2000, 16384)
Accuracy: 0.995
Train Data Shape:  (7990, 16896)
Test Data Shape:  (2000, 16896)
Accuracy: 0.9945
Train Data Shape:  (7988, 17408)
Test Data Shape:  (2000, 17408)
Accuracy: 0.994
Train Data Shape:  (7987, 17920)
Test Data Shape:  (2000, 17920)
Accuracy: 0.995
Train Data Shape:  (7987, 18432)
Test Data Shape:  (2000, 18432)
Accuracy: 0.995
Train Data Shape:  (7987, 18944)
Test Data Shape:  (2000, 18944)
Accuracy: 0.996
Train Data Shape:  (7987, 19456)
Test Data Shape:  (2000, 19456)
Accuracy: 0.996
Train Data Shape:  (7987, 19968)
Test Data Shape:  (2000, 19968)
Accuracy: 0.995
Train Data Shape:  (7985, 20480)
Test Data Shape:  (2000, 20480)
Accuracy: 0.996
Train Data Shape:  (7985, 20992)
Test Data Shape:  (1999, 20992)
Accuracy: 0.9954977488744372
Train Data Shape:  (7985, 21504)
Test Data Shape:  (1999, 21504)
Accuracy: 0.9954977488744372
Train Data Shape:  (7983, 22016)
Test Data Shape:  (1999, 22016)
Accuracy: 0.9949974987493747
Train Data Shape:  (7981, 22528)
Test Data Shape:  (1999, 22528)
Accuracy: 0.9954977488744372
Train Data Shape:  (7978, 23040)
Test Data Shape:  (1998, 23040)
Accuracy: 0.9944944944944945
Train Data Shape:  (7976, 23552)
Test Data Shape:  (1997, 23552)
Accuracy: 0.9949924887330996
Train Data Shape:  (7973, 24064)
Test Data Shape:  (1995, 24064)
Accuracy: 0.9939849624060151
Train Data Shape:  (7970, 24576)
Test Data Shape:  (1995, 24576)
Accuracy: 0.9949874686716792
Train Data Shape:  (7967, 25088)
Test Data Shape:  (1995, 25088)
Accuracy: 0.9944862155388471
Train Data Shape:  (7964, 25600)
Test Data Shape:  (1994, 25600)
Accuracy: 0.9954864593781344
Train Data Shape:  (7960, 26112)
Test Data Shape:  (1994, 26112)
Accuracy: 0.9954864593781344
Train Data Shape:  (7951, 26624)
Test Data Shape:  (1993, 26624)
Accuracy: 0.9964877069744105
Train Data Shape:  (7947, 27136)
Test Data Shape:  (1992, 27136)
Accuracy: 0.9959839357429718
Train Data Shape:  (7937, 27648)
Test Data Shape:  (1991, 27648)
Accuracy: 0.9949773982923155
Train Data Shape:  (7931, 28160)
Test Data Shape:  (1988, 28160)
Accuracy: 0.9949698189134809
Train Data Shape:  (7920, 28672)
Test Data Shape:  (1986, 28672)
Accuracy: 0.9939577039274925
Train Data Shape:  (7915, 29184)
Test Data Shape:  (1982, 29184)
Accuracy: 0.9944500504540867
Train Data Shape:  (7905, 29696)
Test Data Shape:  (1981, 29696)
Accuracy: 0.9949520444220091
Train Data Shape:  (7898, 30208)
Test Data Shape:  (1981, 30208)
Accuracy: 0.993942453306411
Train Data Shape:  (7892, 30720)
Test Data Shape:  (1978, 30720)
Accuracy: 0.9954499494438828
Train Data Shape:  (7879, 31232)
Test Data Shape:  (1975, 31232)
Accuracy: 0.9944303797468355
Train Data Shape:  (7867, 31744)
Test Data Shape:  (1972, 31744)
Accuracy: 0.994421906693712
Train Data Shape:  (7854, 32256)
Test Data Shape:  (1969, 32256)
Accuracy: 0.9939055358049771
Train Data Shape:  (7836, 32768)
Test Data Shape:  (1966, 32768)
Accuracy: 0.9954221770091557
Train Data Shape:  (7824, 33280)
Test Data Shape:  (1961, 33280)
Accuracy: 0.9949005609382968
Train Data Shape:  (7803, 33792)
Test Data Shape:  (1956, 33792)
Accuracy: 0.9948875255623721
Train Data Shape:  (7787, 34304)
Test Data Shape:  (1953, 34304)
Accuracy: 0.9953917050691244
Train Data Shape:  (7768, 34816)
Test Data Shape:  (1946, 34816)
Accuracy: 0.9948612538540597
Train Data Shape:  (7751, 35328)
Test Data Shape:  (1943, 35328)
Accuracy: 0.9953679876479671
Train Data Shape:  (7730, 35840)
Test Data Shape:  (1938, 35840)
Accuracy: 0.9958720330237358
Train Data Shape:  (7702, 36352)
Test Data Shape:  (1930, 36352)
Accuracy: 0.994300518134715
Train Data Shape:  (7677, 36864)
Test Data Shape:  (1925, 36864)
Accuracy: 0.9948051948051948
Train Data Shape:  (7652, 37376)
Test Data Shape:  (1917, 37376)
Accuracy: 0.9932185706833594
Train Data Shape:  (7614, 37888)
Test Data Shape:  (1910, 37888)
Accuracy: 0.9947643979057592
Train Data Shape:  (7600, 38400)
Test Data Shape:  (1903, 38400)
Accuracy: 0.9926431949553337
Train Data Shape:  (7568, 38912)
Test Data Shape:  (1898, 38912)
Accuracy: 0.9947312961011591
Train Data Shape:  (7528, 39424)
Test Data Shape:  (1888, 39424)
Accuracy: 0.9920550847457628
Train Data Shape:  (7496, 39936)
Test Data Shape:  (1881, 39936)
Accuracy: 0.9952153110047847
Train Data Shape:  (7451, 40448)
Test Data Shape:  (1869, 40448)
Accuracy: 0.9935794542536116
Train Data Shape:  (7417, 40960)
Test Data Shape:  (1858, 40960)
Accuracy: 0.9935414424111948
Train Data Shape:  (7365, 41472)
Test Data Shape:  (1847, 41472)
Accuracy: 0.9945858148348673
Train Data Shape:  (7324, 41984)
Test Data Shape:  (1836, 41984)
Accuracy: 0.9934640522875817
Train Data Shape:  (7278, 42496)
Test Data Shape:  (1824, 42496)
Accuracy: 0.993421052631579
Train Data Shape:  (7221, 43008)
Test Data Shape:  (1809, 43008)
Accuracy: 0.9950248756218906
Train Data Shape:  (7175, 43520)
Test Data Shape:  (1800, 43520)
Accuracy: 0.995
Train Data Shape:  (7110, 44032)
Test Data Shape:  (1782, 44032)
Accuracy: 0.9943883277216611
Train Data Shape:  (7051, 44544)
Test Data Shape:  (1766, 44544)
Accuracy: 0.9937712344280861
Train Data Shape:  (6990, 45056)
Test Data Shape:  (1755, 45056)
Accuracy: 0.9948717948717949
Train Data Shape:  (6933, 45568)
Test Data Shape:  (1739, 45568)
Accuracy: 0.9948246118458884
Train Data Shape:  (6874, 46080)
Test Data Shape:  (1724, 46080)
Accuracy: 0.994199535962877