In [1]:
!conda install -y -c conda-forge faiss-gpu py-xgboost
!apt-get -y update
!apt-get -y install libatlas-base-dev

Collecting package metadata (current_repodata.json): - WARNING conda.models.version:get_matcher(538): Using .* with relational operator is superfluous and deprecated and will be removed in a future version of conda. Your spec was 1.7.1.*, but conda is ignoring the .* and treating it as 1.7.1
done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda

  added / updated specs:
    - faiss-gpu
    - py-xgboost


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.14.0               |   py37h89c1867_0        1010 KB  conda-forge
    toolz-0.12.1               |     pyhd8ed1ab_0          51 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         1.0 MB

The following NEW packages will be INSTALLED:

  toolz              conda-forge/noarch::toolz-0.12.1-pyhd8ed1ab_0

The following packages will be UPDATED:

  conda                               4.12.0-py37h89c1867_0 --> 4.14.0-py37h89c1867_0



Downloading and Extracting Packages
conda-4.14.0         | 1010 KB   | ##################################### | 100%
toolz-0.12.1         | 51 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Hit:1 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:2 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:3 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
libatlas-base-dev is already the newest version (3.10.3-5).
0 upgraded, 0 newly installed, 0 to remove and 83 not upgraded.

In [2]:
# !conda install -y -c conda-forge py-xgboost

In [3]:
# !conda install -y -c conda-forge py-xgboost=*=cuda*

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from tqdm import tqdm

import faiss
from xgboost import XGBClassifier

In [5]:
df = pd.read_csv("../llamatales/story_dataset.csv")
df

,prompt_id,prompt,story,hidden_state_file,len_generated_story,len_new_story
0,1,Once upon a time there was a dragon,Once upon a time there was a dragon named Blaz...,./hidden_states/prompt_1.npz,270,271
1,1,Once upon a time there was a dragon,Once upon a time there was a dragon named Spar...,./hidden_states/prompt_1.npz,349,350
2,1,Once upon a time there was a dragon,Once upon a time there was a dragon named Scor...,./hidden_states/prompt_1.npz,278,278
3,1,Once upon a time there was a dragon,Once upon a time there was a dragon. The drago...,./hidden_states/prompt_1.npz,117,118
4,1,Once upon a time there was a dragon,Once upon a time there was a dragon. The drago...,./hidden_states/prompt_1.npz,129,130
...,...,...,...,...,...,...
9995,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,289,290
9996,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,119,119
9997,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,127,128
9998,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,441,441
9999,10,Once upon a time there was a poor boy,Once upon a time there was a poor boy named Ti...,./hidden_states/prompt_10.npz,520,521

In [6]:
hidden_states_by_layer = {}
# NUM_PROMPTS = 10
NUM_PROMPTS = 2

for prompt_id in range(1, NUM_PROMPTS + 1):
    with np.load(f'../llamatales/hidden_states/prompt_{prompt_id}.npz') as loaded_data:
        for i in tqdm(range(1000)):
            curr_hidden_states = loaded_data[f"arr_{i}"][0]
            # print(curr_hidden_states.shape)
            
            #By layer
            for layer in range(1):
                curr_layer_hidden_states = curr_hidden_states[layer][0].astype('float32') #FAISS expects data in type float32 instead of float64 - saves memory too!
                # print(curr_layer_hidden_states.shape)
                
                if(f"layer_{layer}" in hidden_states_by_layer):
                    hidden_states_by_layer[f"layer_{layer}"].append(curr_layer_hidden_states)
                else:
                    hidden_states_by_layer[f"layer_{layer}"] = [curr_layer_hidden_states]

100%|███████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:37<00:00, 26.93it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:34<00:00, 28.68it/s]

In [7]:
layer_hs_array = hidden_states_by_layer["layer_0"]
print(layer_hs_array[0].shape)
print(layer_hs_array[1].shape)

(270, 512)
(349, 512)

In [8]:
min_story_len = min(df["len_new_story"])
min_story_len

22

In [13]:
#Context-level analysis
# min_story_len = min(df["len_new_story"])
max_story_len = max(df["len_new_story"])
for context_level in range(1, max_story_len):
    curr_context_level_hs = []
    for i in range(len(layer_hs_array)):
        # print(np.array(layer_hs_array[i][:context_level]).shape) #see if taking context level more than available causes error?
        layer_hs_upto_context = layer_hs_array[i][:context_level]
        if(layer_hs_upto_context.shape[0] < context_level):
            # print(i) #see which samples have less tokens than current context level
            continue
        else:
            curr_context_level_hs.append(np.array(layer_hs_upto_context).flatten())
    curr_context_level_hs = np.array(curr_context_level_hs).astype('float32')
    # print([i for i in range(len(curr_context_level_hs)) if curr_context_level_hs[i].shape[0] < i]) #see if any residuals escape screening
    # print(curr_context_level_hs.shape) #print shape without samples less than context level
    
    
    classifier = self.MODEL_CLASSIFIER(**ht_best_params, seed = 42, objective = 'multi:softmax', eval_metric = "merror")
    classifier.fit(self.X_train, self.train_y)
    preds = classifier.predict(self.X_test)
    if(curr_context_level_hs.shape[0] <= NUM_PROMPTS * 1000 // 2):
        break

(2000, 512)
(2000, 1024)
(2000, 1536)
(2000, 2048)
(2000, 2560)
(2000, 3072)
(2000, 3584)
(2000, 4096)
(2000, 4608)
(2000, 5120)
(2000, 5632)
(2000, 6144)
(2000, 6656)
(2000, 7168)
(2000, 7680)
(2000, 8192)
(2000, 8704)
(2000, 9216)
(2000, 9728)
(2000, 10240)
(2000, 10752)
(2000, 11264)
(2000, 11776)
(2000, 12288)
(2000, 12800)
(2000, 13312)
(2000, 13824)
(2000, 14336)
(2000, 14848)
(2000, 15360)
(2000, 15872)
(2000, 16384)
(2000, 16896)
(2000, 17408)
(2000, 17920)
(1999, 18432)
(1999, 18944)
(1999, 19456)
(1999, 19968)
(1999, 20480)
(1999, 20992)
(1999, 21504)
(1999, 22016)
(1999, 22528)
(1999, 23040)
(1999, 23552)
(1999, 24064)
(1999, 24576)
(1999, 25088)
(1999, 25600)
(1999, 26112)
(1999, 26624)
(1999, 27136)
(1998, 27648)
(1998, 28160)
(1998, 28672)
(1997, 29184)
(1997, 29696)
(1997, 30208)
(1997, 30720)
(1995, 31232)
(1993, 31744)
(1992, 32256)
(1990, 32768)
(1990, 33280)
(1986, 33792)
(1985, 34304)
(1982, 34816)
(1982, 35328)
(1982, 35840)
(1976, 36352)
(1975, 36864)
(1970, 37376)
(1965, 37888)
(1959, 38400)
(1956, 38912)
(1951, 39424)
(1945, 39936)
(1942, 40448)
(1935, 40960)
(1932, 41472)
(1927, 41984)
(1919, 42496)
(1908, 43008)
(1904, 43520)
(1896, 44032)
(1885, 44544)
(1875, 45056)
(1868, 45568)
(1862, 46080)
(1852, 46592)
(1842, 47104)
(1827, 47616)
(1809, 48128)
(1801, 48640)
(1786, 49152)
(1772, 49664)
(1761, 50176)
(1752, 50688)
(1741, 51200)
(1721, 51712)
(1702, 52224)
(1688, 52736)
(1674, 53248)
(1654, 53760)
(1634, 54272)
(1621, 54784)
(1597, 55296)
(1577, 55808)
(1560, 56320)
(1550, 56832)
(1532, 57344)
(1522, 57856)
(1507, 58368)
(1485, 58880)
(1468, 59392)
(1449, 59904)
(1423, 60416)
(1398, 60928)
(1375, 61440)
(1348, 61952)
(1325, 62464)
(1300, 62976)
(1281, 63488)
(1254, 64000)
(1240, 64512)
(1222, 65024)
(1211, 65536)
(1198, 66048)
(1183, 66560)
(1172, 67072)
(1157, 67584)
(1144, 68096)
(1135, 68608)
(1128, 69120)
(1119, 69632)
(1119, 70144)
(1117, 70656)
(1117, 71168)
(1117, 71680)
(1117, 72192)
(1117, 72704)
(1117, 73216)
(1117, 73728)
(1117, 74240)
(1117, 74752)
(1117, 75264)
(1117, 75776)
(1117, 76288)
(1117, 76800)
(1117, 77312)
(1117, 77824)
(1117, 78336)
(1117, 78848)
(1117, 79360)
(1117, 79872)
(1117, 80384)
(1117, 80896)
(1117, 81408)
(1117, 81920)
(1117, 82432)
(1117, 82944)
(1117, 83456)
(1117, 83968)
(1117, 84480)
(1117, 84992)
(1117, 85504)
(1117, 86016)
(1117, 86528)
(1117, 87040)
(1117, 87552)
(1117, 88064)
(1117, 88576)
(1117, 89088)
(1117, 89600)
(1117, 90112)
(1117, 90624)
(1117, 91136)
(1117, 91648)
(1117, 92160)
(1117, 92672)
(1117, 93184)
(1117, 93696)
(1117, 94208)
(1117, 94720)
(1117, 95232)
(1117, 95744)
(1117, 96256)
(1117, 96768)
(1117, 97280)
(1117, 97792)
(1117, 98304)
(1117, 98816)
(1117, 99328)
(1117, 99840)
(1117, 100352)
(1117, 100864)
(1117, 101376)
(1117, 101888)
(1117, 102400)
(1117, 102912)
(1117, 103424)
(1117, 103936)
(1117, 104448)
(1117, 104960)
(1117, 105472)
(1117, 105984)
(1117, 106496)
(1117, 107008)
(1117, 107520)
(1117, 108032)
(1117, 108544)
(1117, 109056)
(1117, 109568)
(1117, 110080)
(1117, 110592)
(1117, 111104)
(1117, 111616)
(1117, 112128)
(1117, 112640)
(1117, 113152)
(1117, 113664)
(1117, 114176)
(1117, 114688)
(1117, 115200)
(1117, 115712)
(1117, 116224)
(1117, 116736)
(1117, 117248)
(1116, 117760)
(1116, 118272)
(1116, 118784)
(1115, 119296)
(1115, 119808)
(1115, 120320)
(1115, 120832)
(1115, 121344)
(1115, 121856)
(1115, 122368)
(1115, 122880)
(1115, 123392)
(1115, 123904)
(1115, 124416)
(1115, 124928)
(1115, 125440)
(1115, 125952)
(1115, 126464)
(1114, 126976)
(1114, 127488)
(1114, 128000)
(1114, 128512)
(1113, 129024)
(1113, 129536)
(1110, 130048)
(1110, 130560)
(1110, 131072)
(1109, 131584)
(1109, 132096)
(1107, 132608)
(1105, 133120)
(1104, 133632)
(1104, 134144)
(1103, 134656)
(1101, 135168)
(1101, 135680)
(1100, 136192)
(1096, 136704)
(1091, 137216)
(1089, 137728)
(1087, 138240)
(1083, 138752)
(1082, 139264)
(1077, 139776)
(1075, 140288)
(1070, 140800)
(1069, 141312)
(1067, 141824)
(1062, 142336)
(1059, 142848)
(1054, 143360)
(1049, 143872)
(1046, 144384)
(1041, 144896)
(1033, 145408)
(1030, 145920)
(1026, 146432)
(1016, 146944)
(1010, 147456)
(999, 147968)
(995, 148480)
(990, 148992)
(984, 149504)
(981, 150016)
(968, 150528)
(961, 151040)
(951, 151552)
(946, 152064)
(938, 152576)
(933, 153088)
(922, 153600)
(913, 154112)
(903, 154624)
(891, 155136)
(885, 155648)
(877, 156160)
(873, 156672)
(869, 157184)
(865, 157696)
(859, 158208)
(850, 158720)
(846, 159232)
(842, 159744)
(833, 160256)
(826, 160768)
(813, 161280)
(805, 161792)
(798, 162304)
(793, 162816)
(789, 163328)
(787, 163840)
(786, 164352)
(780, 164864)
(779, 165376)
(779, 165888)
(776, 166400)
(775, 166912)
(772, 167424)
(770, 167936)
(766, 168448)
(763, 168960)
(763, 169472)
(762, 169984)
(755, 170496)
(753, 171008)
(750, 171520)
(747, 172032)
(744, 172544)
(740, 173056)
(738, 173568)
(736, 174080)
(733, 174592)
(731, 175104)
(727, 175616)
(726, 176128)
(725, 176640)
(723, 177152)
(721, 177664)
(719, 178176)
(716, 178688)
(713, 179200)
(712, 179712)
(709, 180224)
(708, 180736)
(708, 181248)
(707, 181760)
(706, 182272)
(706, 182784)
(706, 183296)
(706, 183808)
(706, 184320)
(705, 184832)
(705, 185344)
(705, 185856)
(705, 186368)
(705, 186880)
(705, 187392)
(705, 187904)
(705, 188416)
(705, 188928)
(705, 189440)
(705, 189952)
(705, 190464)
(705, 190976)
(703, 191488)
(703, 192000)
(703, 192512)
(701, 193024)
(701, 193536)
(701, 194048)
(698, 194560)
(697, 195072)
(696, 195584)
(695, 196096)
(694, 196608)
(692, 197120)
(690, 197632)
(690, 198144)
(690, 198656)
(688, 199168)
(686, 199680)
(685, 200192)
(684, 200704)
(683, 201216)
(678, 201728)
(676, 202240)
(673, 202752)
(669, 203264)
(668, 203776)
(662, 204288)
(656, 204800)
(653, 205312)
(650, 205824)
(644, 206336)
(642, 206848)
(641, 207360)
(638, 207872)
(633, 208384)
(630, 208896)
(624, 209408)
(615, 209920)
(608, 210432)
(603, 210944)
(597, 211456)
(594, 211968)
(589, 212480)
(584, 212992)
(579, 213504)
(575, 214016)
(568, 214528)
(560, 215040)
(556, 215552)
(553, 216064)
(548, 216576)
(545, 217088)
(544, 217600)
(537, 218112)
(536, 218624)
(532, 219136)
(528, 219648)
(523, 220160)
(513, 220672)
(504, 221184)
(501, 221696)
(493, 222208)
(484, 222720)
(480, 223232)
(471, 223744)
(466, 224256)
(457, 224768)
(448, 225280)
(440, 225792)
(434, 226304)
(432, 226816)
(424, 227328)
(419, 227840)
(411, 228352)
(402, 228864)
(396, 229376)
(388, 229888)
(386, 230400)
(380, 230912)
(372, 231424)
(367, 231936)
(361, 232448)
(353, 232960)
(346, 233472)
(341, 233984)
(340, 234496)
(339, 235008)
(336, 235520)
(332, 236032)
(325, 236544)
(323, 237056)
(315, 237568)
(306, 238080)
(298, 238592)
(293, 239104)
(286, 239616)
(282, 240128)
(275, 240640)
(269, 241152)
(265, 241664)
(258, 242176)
(253, 242688)
(249, 243200)
(247, 243712)
(243, 244224)
(240, 244736)
(237, 245248)
(230, 245760)
(218, 246272)
(215, 246784)
(213, 247296)
(210, 247808)
(210, 248320)
(207, 248832)
(206, 249344)
(202, 249856)
(198, 250368)
(196, 250880)
(192, 251392)
(186, 251904)
(185, 252416)
(181, 252928)
(179, 253440)
(178, 253952)
(176, 254464)
(173, 254976)
(170, 255488)
(168, 256000)
(165, 256512)
(163, 257024)
(161, 257536)
(157, 258048)
(155, 258560)
(153, 259072)
(151, 259584)
(151, 260096)
(149, 260608)
(148, 261120)
(146, 261632)
(145, 262144)
(143, 262656)
(140, 263168)
(135, 263680)
(126, 264192)
(112, 264704)
(94, 265216)
(70, 265728)
(39, 266240)
(10, 266752)
(0,)

In [10]:
# classifier = self.MODEL_CLASSIFIER(**ht_best_params, seed = 42, objective = 'multi:softmax', eval_metric = "merror")
# classifier.fit(self.X_train, self.train_y)
# preds = classifier.predict(self.X_test)